#ContactInfo {
    display: flex;
    color: #333;
    width: 100%;
    font-size: 115%;
    padding-bottom: 2%;

}

#ContactInfo > div {
    flex: 1;
    text-align: left;
}

#ContactInfo > #name {
    flex: 3;
    font-weight: normal;
}

#ContactInfo > #number {
    flex: 2;
    font-weight: 200;
}

#ContactInfo > #editButton {
    background: #fff;
    border: 0;
    color: #00b5ad;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 3%;
    font-size: 100%;
    font-weight: 200;
}

#ContactInfo > #editButton:hover {
    opacity: 0.95;
    transform: scale(0.95);
}

#ContactInfo > #editButton:active {
    transform: scale(0.90);
}